.categoryList{
  margin-top:35;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem{
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.categoryItem.code{
  background-color: #57c4ff31;
}

.categoryItem.philosophy{
  background-color: #da85c731;
}

.categoryItem.literature{
  background-color: #ff795736;
}

.categoryItem.music{
  background-color: #ff795736;
}

.categoryItem.movies{
  background-color: #ffb04f45;
}

.categoryItem.gaming{
  background-color: #5e4fff31;
}